<div class="card card-upgrade">
  <div class="card-body">
    <div class="table-responsive table-upgrade">
      <table class="table">
        <thead>
            <tr>
                <th class="light-black">Reference</th>
                <th class="light-black">Status</th>
                <th class="light-black">Sub Status</th>
                <th class="light-black">Assigned To</th>
                <th class="light-black">Contact Reference</th>
                <th class="light-black">Lead Type</th>
                <th class="light-black">Finance	Priority</th>
            </tr>
        </thead>
        <tbody style="font-size: 17px;">
            <!-- <tr  *ngFor="let data of customerDetail | paginate:{ 
              itemsPerPage: itemsPerPage,
              currentPage: page,
              totalItems: totalItems } ">
                <th >
                    {{data.name}}
                </th>
                <th >
                    {{data.mobileNo}}
                </th>
                <th >
                    {{data.locationId?.locationName}}
                </th>
                <th >
                    {{data.providerId?.name}}
                </th>
                <th >
                    {{data.startDate | date : "dd/MM/yyyy" }}
                </th>
                <th >
                    {{data.active == true ? 'Active' : 'DeActive'}}
                </th>
                <th>
                    <i (click)="onCustomerView(data)" class="fa fa-pencil"></i>
                </th>
            </tr> -->
        </tbody>
        <div id="pagination">
  
        </div>
    </table>
    </div>  
  </div>
</div>