   <div class="progress-bar">
    <ul>
      <li *ngFor="let step of steps; let i = index" (click)="activateStep(i)" [ngStyle]="{'background-color': step.active ? 'blue' : 'gray'}">
        {{ step.name }}
      </li>
    </ul>
  </div>

  <div class="container">
    <from [formGroup]="basicDetailForm">
      <div class="row">
        <div class="col-25">
          <label for="Name">First Name</label>
        </div>
        <div class="col-75">
          <input type="text" formControlName="FirstName" placeholder="Enter FirstName">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="Name">Last Name</label>
        </div>
        <div class="col-75">
          <input type="text" formControlName="LastName" placeholder="Enter LastName">
        </div>
      </div>
    </from>
    <form action="/action_page.php" [formGroup]="nameForm">
      <div formArrayName="nameFields">
        <div *ngFor="let nameField of nameFields.controls; let i = index" [formGroupName]="i" style="    margin-top: 58px;">
          <div class="row">
            <div class="col-25">
              <label for="fname">First Energy Name</label>
            </div>
            <div class="col-75">
              <input type="text" formControlName="firstEnergyName" id="firstEnergyName{{i}}" placeholder="Enter name">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="lname">Last Energy Name</label>
            </div>
            <div class="col-75">
              <input type="text" formControlName="lastEnergyName" id="lastEnergyName{{i}}" placeholder="Enter name">
            </div>
        </div>
        <div class="row" style="    display: block;">
          <input *ngIf="i !== 0" type="button" (click)="removeNameField(i)" type="submit" value="Remove">
        </div>
       <div>
    </div>
  </div>
      <div class="row" style="padding-top: 9px;">
        <input (click)="addNameField()" type="submit" value="Add User">&nbsp;
        <input (click)="onSubmit()" type="submit" value="Submit">
      </div>
      </div>
    </form>
  </div>
  
  
  