<div id="splash-screen" class="splash-screen" *ngIf="IsLoading">
    <span style="font-size: 63px;">Loading ...</span>
  </div>
  
  <div>
  
  <div>
    <div class="card card-upgrade">
        <div class="card-body">
            <div class="table-responsive table-upgrade">
                <table  class="table">
                    <thead>
                        <tr>
                            <th class="light-black">Seriec No</th>
                            <th class="light-black">Provider Name</th>
                            <th class="light-black">MobileNo</th>
                            <th class="light-black">Location Name</th>
                            <th class="light-black">No of providers</th>
                            <th class="light-black">Action</th>
                        </tr>
                    </thead>
                    <tbody style="font-size: 17px;">
                        <tr  
                        *ngFor="let data of providerDetail | paginate:{ 
                          itemsPerPage: itemsPerPage,
                          currentPage: page,
                          totalItems: totalItems } let i = index"
                          >
                            <th >
                                <p>{{ getSerialNumber(i) }}</p>
                            </th>
                            <th >
                                {{data?.name}}
                            </th>
                            <th >
                                {{data?.mobileNo}}
                            </th>
                            <th >
                                {{data?.location[0]?.locationName}}
                            </th>
                            <th >
                                {{data?.customers.length }}
                            </th>
                            <th>
                                <i (click)="onproviderView(data)" 
                                [ngClass]="data.customers.length === 0 ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                            </th>
                        </tr>
                    </tbody>
                    <div id="pagination">
              
                    </div>
                </table>
            </div>
        </div>
    </div>
   
    <div style="font-size: 17px;">
        <pagination-controls *ngIf="providerDetail.length > 0" (pageChange)="renderPage($event)"></pagination-controls>
        <!-- <span class="d-block mb-3">Showing {{ totalIeamPerPage }} of <b>{{ totalItems }}</b> providers</span> -->
    </div>
    <ng-template #providerAddPopup> 
    
    <div id="login-form-wrap" class="popup-repo">
        <div *ngIf="tagShow">
          <h4>{{showTitle}}</h4>
        </div>
        <i class="fa fa-times close-icon" aria-hidden="true" (click)="closeViewList()"></i>
        <div>
            <table>
                <thead>
                    <tr>
                <th class="light-black">Seriec No</th>
                <th class="light-black">CustomerName</th>
                <th class="light-black">MobileNo</th>
                <th class="light-black">Location Name</th>
                <th class="light-black">Action</th>
                    </tr>
                </thead>
                <tbody style="font-size: 17px;">
                    <tr  *ngFor="let data of providersCustomerList let i = index">
                        <th >
                            <p>{{ getSerialNumber(i) }}</p>
                        </th> 
                        <th>
                            {{data?.name}}
                        </th> 
                        <th>
                            {{data?.mobileNo}}
                        </th>
                        <th>
                            {{data?.locationId?.locationName}}
                        </th>
                        <th>
                            <i (click)="customerServiceData(data)" class='fa fa-eye'></i>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </ng-template>
    <ng-template #customerServices>
        <div id="login-form-wrap" class="popup-repo">
            <div *ngIf="tagShow">
              <h4>{{showTitle}}</h4>
            </div>
            <i class="fa fa-times close-icon" aria-hidden="true" (click)="closeCustomerServiceList()"></i>
            <div>
                <table>
                    <thead>
                        <tr>
                    <th class="light-black">Seriec No</th>
                    <th class="light-black">Seriec Date</th>
                    <th class="light-black">Status</th>
                        </tr>
                    </thead>
                    <tbody style="font-size: 17px;">
                        <tr *ngFor="let data of customerServiceList let i = index">
                            <th >
                                <p>{{ getSerialNumber(i) }}</p>
                            </th> 
                            <th>
                                {{data?.pendingDate | date : "dd/MM/yyyy"}}
                            </th> 
                            <th>
                                {{data?.status}}
                            </th>
                           
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </ng-template>
  </div>
  