<div id="splash-screen" class="splash-screen" *ngIf="IsLoading">
  <span style="font-size: 63px;">Loading ...</span>
</div>

<div>
  <div class="input-group no-border" style=" width: 250px;
  display: flex;
  top: -1rem;">
    <input type="text" value="" [(ngModel)]="searchData" class="form-control" placeholder="Search...">
    <div class="input-group-append">
      <div class="input-group-text">
        <i class="nc-icon nc-zoom-split" (click)="onSearchData()"></i>
      </div>
    </div>
  </div>
  <button class="btn btn-primary btn-round responsive-button" (click)="onAddData();"><i class="fa fa-plus" aria-hidden="true"></i> Add Customer</button>
</div>
<div class="card card-upgrade">
  <div class="card-body">
    <div class="table-responsive table-upgrade">
      <table class="table">
        <thead>
            <tr>
                <th class="light-black">Customer Name</th>
                <th class="light-black">Mobile</th>
                <th class="light-black">Location</th>
                <th class="light-black">Provider Name</th>
                <th class="light-black">Date</th>
                <th class="light-black">Status</th>
                <th class="light-black">Action</th>
            </tr>
        </thead>
        <tbody style="font-size: 17px;">
            <tr  *ngFor="let data of customerDetail | paginate:{ 
              itemsPerPage: itemsPerPage,
              currentPage: page,
              totalItems: totalItems } ">
                <th >
                    {{data.name}}
                </th>
                <th >
                    {{data.mobileNo}}
                </th>
                <th >
                    {{data.locationId?.locationName}}
                </th>
                <th >
                    {{data.providerId?.name}}
                </th>
                <th >
                    {{data.startDate | date : "dd/MM/yyyy" }}
                </th>
                <th >
                    {{data.active == true ? 'Active' : 'DeActive'}}
                </th>
                <th>
                    <i (click)="onCustomerView(data)" class="fa fa-pencil"></i>
                </th>
            </tr>
        </tbody>
        <div id="pagination">
  
        </div>
    </table>
    </div>  
  </div>
</div>
<div>
 
  <div style="font-size: 17px;">
      <pagination-controls *ngIf="customerDetail.length > 0" (pageChange)="renderPage($event)"></pagination-controls>
      <!-- <span class="d-block mb-3">Showing {{ totalIeamPerPage }} of <b>{{ totalItems }}</b> Customers</span> -->
  </div>
  <ng-template #customerAddPopup>
  
  <div id="login-form-wrap" class="popup-repo">
      <div *ngIf="tagShow">
        <h4>{{showTitle}}</h4>
      </div>
      <i class="fa fa-times close-icon" aria-hidden="true" (click)="closeViewList()"></i>
  
      <form id="login-form" [formGroup]="customerDetailForm">
          <p>
              <input autocomplete="off" class="inputBox" type="text" id="username" name="username"
                  formControlName="username" placeholder="Username"
                  [ngClass]="isSave && username.invalid  ? 'border-error' : ''" required><i class="validation"></i>
          </p>
          <div *ngIf="isSave && username.invalid" class="form-valid">
              <p>Username is required</p>
          </div>
          <p>
              <input autocomplete="off" class="inputBox" type="text" id="address" name="address"
                  formControlName="address" placeholder="Address"
                  [ngClass]="isSave && address.invalid  ? 'border-error' : ''" required><i class="validation"></i>
          </p>
          <div *ngIf="isSave && address.invalid" class="form-valid">
              <p>Address is required</p>
          </div>
          <p>
              <input autocomplete="off" class="inputBox" type="text" id="pinCode" name="pinCode"
                  formControlName="pinCode" placeholder="Pincode"
                  [ngClass]="isSave && pinCode.invalid  ? 'border-error' : ''" required><i class="validation"></i>
          </p>
          <div *ngIf="isSave && pinCode.invalid" class="form-valid">
              <p>PinCode is required</p>
          </div>
            <div>
            <select class="inputBox" style="font-size: 16px; padding-inline: 14px;color: #000000; "  formControlName="location"  id="location" name="location"  [ngClass]="isSave && location.invalid  ? 'border-error' : ''" required >
              <option  *ngFor="let data of locationData" [value]="data._id">
                          {{data.locationName}}
                          </option>
                      </select>
           <div *ngIf="isSave && location.invalid" class="form-valid" >
                          <p style="top: 5px;">location is required</p>
                      </div>
          </div>
          <p>
              <input autocomplete="off" class="inputBox" type="text" id="mobileNo" name="mobileNo"
                  formControlName="mobileNo" placeholder="mobileNo"
                  [ngClass]="isSave && mobileNo.invalid  ? 'border-error' : ''" required><i class="validation"></i>
          </p>
          <div *ngIf="isSave && mobileNo.invalid" class="form-valid">
              <p>mobileNo is required</p>
          </div>
        
          <select class="inputBox" style="font-size: 16px; padding-inline: 10px; color: #789188; "  formControlName="provider"  id="provider" name="provider"  [ngClass]="isSave && provider.invalid  ? 'border-error' : ''" required >
              <option  *ngFor="let data of providerData" [value]="data._id">
                          {{data.name}}
                          </option>
                      </select>
          <div *ngIf="isSave && address.invalid" class="form-valid">
              <p>Provider is required</p>
          </div>
          <p>
            <input class="inputBox" 
            type="date"
            formControlName="startDate"
          />
          </p>
          <div *ngIf="isSave && startDate.invalid" class="form-valid">
              <p>startDate is required</p>
          </div>
          <div>
            <div>test checkbox </div>
            <input type="checkbox" formControlName="testCheck"/>
          </div>
          <p>
              <button class="btn btn-primary btn-round" (click)="onSubmit()">Save</button>  
          </p>
      </form>
  
  </div>
  </ng-template>
  
</div>

<form [formGroup]="nameForm">
  <div formArrayName="names">
    <div *ngFor="let name of nameForm?.get('names').controls; let i = index" [formGroupName]="i">      <input type="text" formControlName="name" placeholder="Enter name">
      <button type="button" (click)="removeName(i)">Remove</button>
    </div>
  </div>
  <button type="button" (click)="addNameField()">Add Name Field</button>
  <button type="button" (click)="submitData()">Submit</button>
</form>